<castle>
  <installers>
    <install type="Owt.Services.DependenciesInstaller, Owt.Services"/>
    <install type="Owt.Services.Contacts.Installer, Owt.Services"/>
    <install type="Owt.Services.Lookups.Installer, Owt.Services"/>
  </installers>
  <components>
    <!--<component service="Owt.Services.Security.ISecurityService" type="Owt.Services.Security.NoSecurityService" lifestyle="Transient"/>-->
    <component service="Owt.Services.Security.ISecurityService" type="Owt.Services.Security.DummySecurityService" lifestyle="Transient"/>
  </components>
</castle>